/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:1c5a28ac91bec36b15b906871227b60a$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(Frodo.png);}

.frodospr01 {width:83px; height:154px; background-position: -87px -314px}
.frodospr02 {width:83px; height:154px; background-position: -2px -314px}
.frodospr03 {width:83px; height:154px; background-position: -87px -158px}
.frodospr04 {width:83px; height:154px; background-position: -2px -158px}
.frodospr05 {width:83px; height:154px; background-position: -87px -2px}
.frodospr06 {width:83px; height:154px; background-position: -2px -2px}
